/* src/components/Skill.css */
.skill {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.skill h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.skill p {
  margin: 5px 0 0;
  color: #666;
}
